body{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
}

ul{
  margin:0;
  padding:0;
}

.res-img{
  max-width: 60px;
  width:100%;
  height:auto;
}

.row{
  display: flex;
}

.j-between{
  justify-content: space-between;
}


.nav-sidebar{
  background:#000;
  width:15%;
  padding:4rem 0;
  text-align: center;
  height:100vh;
}

.nav-list{
  margin-top:3rem;
}

.nav-list li{
  padding:.5rem;
  transition: all .5s;
}

.nav-list li:hover{
  background:rgba(255,255,255,0.2);
}

.nav-list li a{
  color:#fff;
}

.main-content{
  flex:1;
}

.main-content-bar {
  padding:1rem 3rem;
}

.profile-card{            
  width: 60%;
  margin: 3rem;
  border: 2px solid #e5e5e5;
  padding: 2rem 1rem;
  border-radius: 4px;
}

.mr-1{
  margin-right: 1rem;
}

.profile-card span{
  display: flex;
}

.profile-card .row{
  border-bottom:1px solid #e5e5e5;
  padding:1rem;
}

.logout-sec{
  display: flex;
  justify-content: space-between;
  width:100%;
}